html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }

  #root {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    background-image: linear-gradient(to right bottom, #485563, #29323c);
  }

  .joinInnerContainer {
    width: 20%;
	margin: auto;
	padding: 1rem;
	height: 340px;
	width: 400px;
	border-radius: 5px;
	background-color: #1e252c;
	box-shadow: 0 3rem 5rem rgba(0,0,0, .3);
  }

  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
    border-radius: 20px;

  }

  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }

  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: rgb(134, 31, 18);
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
      border-radius: 20px;
  }

  .mt-20 {
    margin-top: 20px;
  }



  button:focus {
    outline: 0;
  }